@import "../../app/variables.scss";

.productDetailContainer {
  background-color: $primary-background;
  height: 90vh;
  padding: 2rem;
  width: 100%;
  display: flex;
  & > .noContentWrapper {
    margin: auto;
  }
  & > .productDetailWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    & > .productDetailInfo {
      display: flex;
      & > .productImage {
        width: 100%;
        & > .productDetailDescription {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem;
          gap: 2rem;
        }
        & > .productItemImage {
          object-fit: contain;
          width: 100%;
          height: auto;
        }
      }
      & > .productDetaiSummary {
        width: 372px;
        & > .productDetailCondition {
          margin-bottom: 1rem;
        }

        & > .productDetail {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          justify-content: space-between;
          & > .productDetailPrice {
            display: flex;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
