@import "../../app/variables.scss";

.productDetailWrapper {
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  & > .productDetailInfo {
    display: flex;
    gap: 78px;
    & > .productImage {
      margin-left: 122px;
      margin-top: 62px;
      & > .productItemImage {
        object-fit: contain;
      }
    }
    & > .productDetaiSummary {
      width: 372px;
      & > .productDetailCondition {
        margin-bottom: 1rem;
      }

      & > .productDetail {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        & > .productDetailPrice {
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }

  & > .productDetailDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
  }
}
