@import "../../app/variables.scss";

.productDetailWrapper {
  margin: auto;
  width: 100%;
  max-width: 1416px;
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  & > .productDetailInfo {
    display: flex;
    gap: 78px;
    & > .productImage {
      margin-left: 122px;
      margin-top: 62px;
    }
    & > .productDetaiSummary {
      width: 372px;
      & > .productDetailCondition {
        margin-bottom: 1rem;
      }

      & > .productDetailPrice {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
      }
    }
  }

  & > .productDetailDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
  }
}
