$primary-background: #ffe600;
$secondary-background: #eee;
$primary-text: #333;
$secondary-text: #999;
$tertiary-text: #eee;
$primary-button-background: #3483fa;

// // :export {
// $primarycolor: $primary-color;
// $secondarycolor: $secondary-color;
// $tertiarycolor: $tertiary-color;
// $primarybackgroundcolor: $primary-background;
// $secondarybackgroundcolor: $secondary-background;
// $primarytextcolor: $primary-text;
// $secondarytextcolor: $secondary-text;
// $tertiarytextcolor: $tertiary-text;
// $primarybuttonbackgroundcolor: $primary-button-background;
// // }
