//Backgrounds
$primary-background: #fff;
$primary-filled: #ffe600;
$main-background: #eee;

//Text
$primary-text: #333;
$secondary-text: #666;
$tertiary-text: #999;

//Buttons
$primary-button-background: #3483fa;
