$primary-background: #fff;
$primary-filled: #ffe600;
$main-background: #eee;
$primary-text: #333;
$secondary-text: #666;
$tertiary-text: #999;
$primary-button-background: #3483fa;

// // :export {
// $primarycolor: $primary-color;
// $secondarycolor: $secondary-color;
// $tertiarycolor: $tertiary-color;
// $primarybackgroundcolor: $primary-filled;
// $secondarybackgroundcolor: $main-background;
// $primarytextcolor: $primary-text;
// $secondarytextcolor: $secondary-text;
// $tertiarytextcolor: $tertiary-text;
// $primarybuttonbackgroundcolor: $primary-button-background;
// // }
