@import "../../app/variables.scss";

.header {
  background-color: $primary-background;
  height: 70px;
  display: flex;
  padding: 0 20%;
}

.headerContent {
  margin: auto;
  width: 100%;
  // display: flex;
}
