@import "../../app/variables.scss";

.productsSearchContent {
  margin: auto;
  width: 100%;
  max-width: 1416px;
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
}
