.productItemWrapper {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  & > .productItemImage {
    border-radius: 4px;
    object-fit: cover;
  }
  & > .productInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;

    & > .productInfoDetail {
      & > .productInfoPrice {
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        & > .shipping {
          margin-bottom: 0.25rem;
        }
      }
    }

    & > .productInfoLocation {
      margin-top: 1rem;
      margin-right: 4rem;
      width: 140px;
    }
  }
}
